/* Do not delete this! */
xml {display: none;}

/* Defines defaults for the whole screen */
body { 
    background-color: #F3F5F0; 
    font-family: Courier New; 
}
 
/* Defines the main screen position  */
.mainlayer {
    top: 0px; 
}

/* Defines the main screen position for right-to-left  */
.mainlayer_rtl{
    top: 0px;  
}

/* Defines the PF keys screen position */
.pfkeydiv {
    height: 80px;
    top: 500px;
}

/* Defines the PF keys screen position for right-to-left */
.pfkeydiv_rtl {
    height: 80px;
    top: 500px; 
}

.ICONImage
{
	padding:1px;
	cursor:pointer;
	right: 5px;  
	TOP: 0%; 
	POSITION: absolute;
}
.ICONImage:hover
{
	padding:0;
	border-width:1px;
	border-style:solid;
	border-left-color:#FFFFFF;
	border-top-color:#FFFFFF;
	border-right-color:#000000;
	border-bottom-color:#000000;
	cursor:pointer;
}

/* Defines the output fields  */
.OutputField {
        white-space:pre; 
        border-width:0;     
        font-family:  Courier New; 
	font-size: 100%;	
	background-color: #F3F5F0;
}

.FieldVariableBased {
   /* font-style:italic; */
}

.FieldLiteralBased {
    /*font-style:normal; */
}
      
/* Defines the input fields  */
.InputField { 
      background-color: white ;      
      font-family: Courier New;
			border-width: 1px;      
			font-size: 100%;				
			border-color: #A7A9AB;
}

/* Text decoration */
.natTextDecoUnderline { text-decoration:underline; }
.natTextDecoBlinking {text-decoration:blink; }
.natTextDecoNormal {text-decoration:normal;}

/* font style */
.natFontStyleItalic {font-style:italic;}
.natFontStyleNormal {font-style:normal;}


/* Font weight */
.natFontWeightBold {font-weight:bolder}
.natFontWeightNormal {font-weight:normal;}



.naturalwindow {
border-style:solid; 
border-width:1px; 
border-color: #808080;
/*border-top-width: 22px;*/
background-color: #F3F5F0;
}

.wintitle {
left:0px;
top:1px;
height: 20px;
width: 100%;
color: black;
font-size: 12px;
font-weight: bold;
background-color: #88B2D7;
text-align: center;
font-family:Verdana;
background-image: url(../cis/styles/images/sag23_areatitle.gif);
}



/* Defines Natural color attributes */
.natOutputRed {color: black; }
.natOutputGreen {color: black; }
.natOutputBlue {color: black;}
.natOutputYellow {color: black;}
.natOutputWhite {color: black; }
.natOutputBlack {color: black; }
.natOutputPink {color: black; }
.natOutputTurquoise{color: black;}
.natOutputTransparent{color: black ; }

.natOutputRedIntensified  {color: black; }
.natOutputGreenIntensified  {color: black; }
.natOutputBlueIntensified  {color: black;}
.natOutputYellowIntensified  {color: black;}
.natOutputWhiteIntensified  {color: black; }
.natOutputBlackIntensified  {color: black; }
.natOutputPinkIntensified  {color: black; }
.natOutputTurquoiseIntensified {color: black;}
.natOutputTransparentIntensified {color: black ; }

/* Reverse attributes */
.reverseOutputRed {background-color: black; color:#F3F5F0;}
.reverseOutputGreen {background-color: black ; color:#F3F5F0;}
.reverseOutputBlue {background-color: black ;color:#F3F5F0;}
.reverseOutputYellow {background-color: black;color:#F3F5F0;}
.reverseOutputWhite {background-color: black; color:#F3F5F0; }
.reverseOutputBlack {background-color: black;color:#F3F5F0;}
.reverseOutputPink {background-color: black; color:#F3F5F0;}
.reverseOutputTurquoise{background-color: black ;color:#F3F5F0; }
.reverseOutputTransparent{background-color: black ; color:#F3F5F0;}


.natInputRed {color: black; }
.natInputGreen {color: black; }
.natInputBlue {color: black;}
.natInputYellow {color: black;}
.natInputWhite {color: black; }
.natInputBlack {color: black; }
.natInputPink {color: black; }
.natInputTurquoise{color: black;}
.natInputTransparent{color: black ; }

.natInputRedIntensified {color: black; }
.natInputGreenIntensified {color: black; }
.natInputBlueIntensified {color: black;}
.natInputYellowIntensified {color: black;}
.natInputWhiteIntensified {color: black; }
.natInputBlackIntensified {color: black; }
.natInputPinkIntensified {color: black; }
.natInputTurquoiseIntensified{color: black;}
.natInputTransparentIntensified{color: black ; }

/* Reverse attributes */
.reverseInputRed {background-color: black; color:#F3F5F0;}
.reverseInputGreen {background-color: black ; color:#F3F5F0;}
.reverseInputBlue {background-color: black ;color:#F3F5F0;}
.reverseInputYellow {background-color: black;color:#F3F5F0;}
.reverseInputWhite {background-color: black; color:#F3F5F0; }
.reverseInputBlack {background-color: black;color:#F3F5F0;}
.reverseInputPink {background-color: black; color:#F3F5F0;}
.reverseInputTurquoise{background-color: black ;color:#F3F5F0; }
.reverseInputTransparent{background-color: black ; color:#F3F5F0;}


/* Defines the style of the PF key buttons */
.PFButton
{
	opacity:1;
	width:63px; 
	height:22px;
	cursor:pointer;
	font-family:Verdana;
	font-size:11px;
	padding-left:1px;
	padding-right:1px;
	color:#000000;
	background-image:url('../cis/styles/images/sag23_buttonback2.gif');
	background-color:transparent;
	border:1px solid #A0A0A0;
}

.PFButton:hover
{
	opacity:1;
	width:63px; 
	background-image:url('../HTMLBasedGUI/images/cis_default_buttonbackground.jpg');
	height:22px;
	cursor:pointer;
	font-family:Verdana;
	font-size:11px;
	padding-left:1px;
	padding-right:1px;
	color:#000000;
	background-color:transparent;
	border-style:solid;
	border-width:1px;
	border-left-color:#FFCB39;
	border-top-color:#FFCB39;
	border-right-color:#EF8A29;
	border-bottom-color:#EF8A29;
}

.PFButtonArroundDiv
{
    margin: 2px; 
    width:70px;
    float:left;
}

/* PF key Toolbar */
.TDAroundControl {
	font-size: 1px;
}

.TDAroundControlDiv {
    font-size: 1px; 
    height: 1px; 
    width: 2px;
}

.ToolBarButton {
    width: 63px; 
    opacity:1;
    height:22px;
    cursor:pointer;
    font-family:Verdana;
    font-size:12px;
    color:#000000;
    background-image:url('../cis/styles/images/sag23_buttonback2.gif');
    background-color:transparent;
    border:1px solid #A0A0A0;    
}

.ToolBarButton:hover {
    width: 63px; 
    opacity:1;
    height:22px;
    cursor:pointer;
    font-family:Verdana;
    font-size:12px;
    color:#000000;
    background-image:url('../HTMLBasedGUI/images/cis_default_buttonbackground.jpg');
    background-color:transparent;
    border-style:solid;
    border-width:1px;
    border-left-color:#FFCB39;
    border-top-color:#FFCB39;
    border-right-color:#EF8A29;
    border-bottom-color:#EF8A29; 
}

.MessageLine
{
	color: black;
}